<header>   <%= link_to "Back to cocktail", cocktail_path(@cocktail), class: "btn btn-info" %></header>

<div class="container">
  <h1>Add an ingredient to <%= @cocktail.name %> </h1>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "Add ingredient", class: "btn btn-info" %>
  <% end %>
</div>
